.activeFooter{
 color: rgb(156, 156, 156);
 margin: 0 20px; 
 text-decoration: none;
 font-family: 'Poppins', sans-serif;
 font-weight: 600;
 letter-spacing: 1px;
 font-size: 13px;
 text-transform: uppercase;
 border-bottom: 5.4px double black;
 transition: font-size .5s;
}
.activeFooter:hover{
 color: rgb(156, 156, 156);
 font-size: 13px;
 transition: font-size .5s;
}
.nav__link--footer{
 text-decoration: none;
 background-color: transparent;
 text-transform: uppercase;
 margin: 0 20px; 
 font-family: 'Poppins', sans-serif;
 font-weight: 600;
 font-size: 13px;
 letter-spacing: 1px;
 color: rgb(156, 156, 156);
 transition: font-size .5s;
}
.nav__link--footer:hover{
 color: rgb(156, 156, 156);
 font-size: 14px;
 transition: font-size .5s;
}